<a href="https://colab.research.google.com/github/holdenkim/codingT/blob/main/BBG_S_Part3_5_mychapts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
data=pd.read_csv('Fvote.csv', encoding='utf-8')

In [5]:
data.head(2)

   gender_female  gender_male  ...  vote  parties
0              0            1  ...     1        2
1              0            1  ...     0        3

[2 rows x 15 columns]

교재 오타 발견으로 확인 해봄

In [6]:
X = data[data.columns[0:13]] # Test로 만든거
X_1 =data[['gender_female', 'gender_male', 'region_Chungcheung', 'region_Honam', 
        'region_Others', 'region_Sudo', 'region_Youngnam', 'edu', 'income', 
        'age', 'score_gov', 'score_progress', 'score_intention']] #책
X_2 = data[data.columns[1:14]] # 책
y= data['vote']

In [7]:
X.head()

   gender_female  gender_male  ...  score_progress  score_intention
0              0            1  ...               2              4.0
1              0            1  ...               4              3.0
2              0            1  ...               3              2.8
3              1            0  ...               4              2.6
4              0            1  ...               3              2.4

[5 rows x 13 columns]

In [8]:
X_1.head(1)

   gender_female  gender_male  ...  score_progress  score_intention
0              0            1  ...               2              4.0

[1 rows x 13 columns]

In [9]:
X_2.head(1)

   gender_male  region_Chungcheung  ...  score_intention  vote
0            1                   0  ...              4.0     1

[1 rows x 13 columns]

train 학습 / valid 검증 / test 성능측정

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

In [11]:
print(X_train.shape)
print(y_train.shape)

(158, 13)
(158,)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
model = LogisticRegression()

In [14]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, X_train, y_train, cv=5)
print("5개 테스트 셋 정확도:", scores)
print("정확도 평균:", scores.mean())

5개 테스트 셋 정확도: [0.71875    0.6875     0.8125     0.58064516 0.80645161]
정확도 평균: 0.7211693548387096

In [15]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X_train, y_train, cv=5)
print(scores)

[0.71875    0.6875     0.8125     0.58064516 0.80645161]

In [16]:
print(scores.mean())

0.7211693548387096

cross val은 데이터셋 순서대로 나누는데, 여기에 편향이 있다면 문제 발생 소지
KFold shuffle 을 True로 설정 하여 이를 해결함

In [17]:
from sklearn.model_selection import KFold
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

score=cross_val_score(model, X_train, y_train, cv=kfold)
print("5개 폴드의 정확도:", score)

5개 폴드의 정확도: [0.71875    0.6875     0.625      0.70967742 0.77419355]

In [18]:
score = cross_val_score(model, X_train, y_train, cv=kfold)

In [19]:
print(score)

[0.71875    0.6875     0.625      0.70967742 0.77419355]

shufflesplit을 사용하면 복원추출 방식으로 검증데이터 선택

In [20]:
from sklearn.model_selection import ShuffleSplit
shuffle_split = ShuffleSplit(test_size=0.5, train_size=0.5, random_state=42)
shuffle_split_5 = ShuffleSplit(test_size=0.5, train_size=0.5, n_splits=5, random_state=42)

In [21]:
scores = cross_val_score(model, X_train, y_train, cv=shuffle_split)
print(scores)

[0.73417722 0.69620253 0.70886076 0.73417722 0.65822785 0.67088608
 0.72151899 0.65822785 0.69620253 0.70886076]

In [22]:
scores = cross_val_score(model, X_train, y_train, cv=shuffle_split_5)
print(scores)

[0.73417722 0.69620253 0.70886076 0.73417722 0.65822785]

In [23]:
from sklearn.model_selection import train_test_split
X_train_val, X_test, y_train_val, y_test=train_test_split(X, y, random_state=1 )
X_train, X_valid, y_train, y_valid=train_test_split(X_train_val, y_train_val, random_state=2 )

In [24]:
model.fit(X_train, y_train)
scores=cross_val_score(model, X_train, y_train, cv=5)
print(scores)
print(scores.mean())

[0.58333333 0.66666667 0.70833333 0.65217391 0.65217391]
0.652536231884058

In [25]:
model.score(X_valid, y_valid)

0.65

In [26]:
model.score(X_test, y_test)

0.6981132075471698