<a href="https://colab.research.google.com/github/holdenkim/codingT/blob/main/BBG_S_Part3_5_mychapts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
data=pd.read_csv('Fvote.csv', encoding='utf-8')

In [25]:
data.head(2)

   gender_female  gender_male  ...  vote  parties
0              0            1  ...     1        2
1              0            1  ...     0        3

[2 rows x 15 columns]

In [73]:
X = data[data.columns[0:13]]
X_1 =data[['gender_female', 'gender_male', 'region_Chungcheung', 'region_Honam', 
        'region_Others', 'region_Sudo', 'region_Youngnam', 'edu', 'income', 
        'age', 'score_gov', 'score_progress', 'score_intention']]
X_2 = data[data.columns[1:14]]
y= data['vote']

In [54]:
X.head()

   gender_female  gender_male  ...  score_progress  score_intention
0              0            1  ...               2              4.0
1              0            1  ...               4              3.0
2              0            1  ...               3              2.8
3              1            0  ...               4              2.6
4              0            1  ...               3              2.4

[5 rows x 13 columns]

In [72]:
X_1.head(1)

   gender_female  gender_male  ...  score_progress  score_intention
0              0            1  ...               2              4.0

[1 rows x 13 columns]

In [74]:
X_2.head(1)

   gender_male  region_Chungcheung  ...  score_intention  vote
0            1                   0  ...              4.0     1

[1 rows x 13 columns]

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

In [56]:
print(X_train.shape)
print(y_train.shape)

(158, 13)
(158,)

In [57]:
from sklearn.linear_model import LogisticRegression

In [58]:
model = LogisticRegression()

In [59]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, X_train, y_train, cv=5)
print("5개 테스트 셋 정확도:", scores)
print("정확도 평균:", scores.mean())

5개 테스트 셋 정확도: [0.71875    0.6875     0.8125     0.58064516 0.80645161]
정확도 평균: 0.7211693548387096

In [60]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X_train, y_train, cv=5)
print(scores)

[0.71875    0.6875     0.8125     0.58064516 0.80645161]

In [61]:
print(scores.mean())

0.7211693548387096

In [67]:
from sklearn.model_selection import KFold
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

score=cross_val_score(model, X_train, y_train, cv=kfold)
print("5개 폴드의 정확도:", score)

5개 폴드의 정확도: [0.71875    0.6875     0.625      0.70967742 0.77419355]

In [63]:
score = cross_val_score(model, X_train, y_train, cv=kfold)

In [64]:
print(score)

[0.71875    0.6875     0.625      0.70967742 0.77419355]

In [68]:
from sklearn.model_selection import ShuffleSplit
shuffle_split = ShuffleSplit(test_size=0.5, train_size=0.5, random_state=42)
shuffle_split_5 = ShuffleSplit(test_size=0.5, train_size=0.5, n_splits=5, random_state=42)

In [66]:
scores = cross_val_score(model, X_train, y_train, cv=shuffle_split)
print(scores)

[0.73417722 0.69620253 0.70886076 0.73417722 0.65822785 0.67088608
 0.72151899 0.65822785 0.69620253 0.70886076]

In [69]:
scores = cross_val_score(model, X_train, y_train, cv=shuffle_split_5)
print(scores)

[0.73417722 0.69620253 0.70886076 0.73417722 0.65822785]

In [75]:
from sklearn.model_selection import train_test_split
X_train_val, X_test, y_train_val, y_test=train_test_split(X, y, random_state=1 )
X_train, X_valid, y_train, y_valid=train_test_split(X_train_val, y_train_val, random_state=2 )

In [76]:
model.fit(X_train, y_train)
scores=cross_val_score(model, X_train, y_train, cv=5)
print(scores)
print(scores.mean())

[0.58333333 0.66666667 0.70833333 0.65217391 0.65217391]
0.652536231884058

In [77]:
model.score(X_valid, y_valid)

0.65

In [78]:
model.score(X_test, y_test)

0.6981132075471698