<a href="https://colab.research.google.com/github/holdenkim/codingT/blob/main/BBGS_Part4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 로지스틱 회귀

In [1]:
import pandas as pd
data = pd.read_csv("breast-cancer-wisconsin.csv")

In [2]:
data.head()

      code  Clump_Thickness  Cell_Size  ...  Normal_Nucleoli  Mitoses  Class
0  1000025                5          1  ...                1        1      0
1  1002945                5          4  ...                2        1      0
2  1015425                3          1  ...                1        1      0
3  1016277                6          8  ...                7        1      0
4  1017023                4          1  ...                1        1      0

[5 rows x 11 columns]

In [5]:
import warnings 
warnings.filterwarnings("ignore")

In [12]:
X = data[data.columns[1:10]]
y= data[["Class"]]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y,stratify=y, random_state=42)

In [17]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
mms.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [18]:
X_scaled_train = mms.transform(X_train)
X_scaled_test = mms.transform(X_test)

In [21]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [22]:
model.fit(X_scaled_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
pred_train = model.predict(X_scaled_train)
pred_test = model.predict(X_scaled_test)

In [26]:
print(model.score(X_scaled_train, y_train))
print(model.score(X_scaled_test, y_test,))

0.97265625
0.9590643274853801

In [28]:
from sklearn.metrics import confusion_matrix

In [31]:
cm_train = confusion_matrix(y_train, pred_train)
cm_test = confusion_matrix(y_test, pred_test)

In [32]:
print(cm_train)
print(cm_test)

[[328   5]
 [  9 170]]
[[106   5]
 [  2  58]]

In [36]:
from sklearn.metrics import classification_report
cr_train = classification_report(y_train, pred_train)
cr_test = classification_report(y_test, pred_test)

In [38]:
print(cr_train)
print(cr_test)

              precision    recall  f1-score   support

           0       0.97      0.98      0.98       333
           1       0.97      0.95      0.96       179

    accuracy                           0.97       512
   macro avg       0.97      0.97      0.97       512
weighted avg       0.97      0.97      0.97       512

              precision    recall  f1-score   support

           0       0.98      0.95      0.97       111
           1       0.92      0.97      0.94        60

    accuracy                           0.96       171
   macro avg       0.95      0.96      0.96       171
weighted avg       0.96      0.96      0.96       171