<a href="https://colab.research.google.com/github/holdenkim/codingT/blob/main/BBGS_Part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#맛보기1 분류문제

#분석 데이터 검토

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("breast-cancer-wisconsin.csv")

In [3]:
data.head()

      code  Clump_Thickness  Cell_Size  ...  Normal_Nucleoli  Mitoses  Class
0  1000025                5          1  ...                1        1      0
1  1002945                5          4  ...                2        1      0
2  1015425                3          1  ...                1        1      0
3  1016277                6          8  ...                7        1      0
4  1017023                4          1  ...                1        1      0

[5 rows x 11 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   code                         683 non-null    int64
 1   Clump_Thickness              683 non-null    int64
 2   Cell_Size                    683 non-null    int64
 3   Cell_Shape                   683 non-null    int64
 4   Marginal_Adhesion            683 non-null    int64
 5   Single_Epithelial_Cell_Size  683 non-null    int64
 6   Bare_Nuclei                  683 non-null    int64
 7   Bland_Chromatin              683 non-null    int64
 8   Normal_Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 58.8 KB

In [5]:
data.describe()

               code  Clump_Thickness  ...     Mitoses       Class
count  6.830000e+02       683.000000  ...  683.000000  683.000000
mean   1.076720e+06         4.442167  ...    1.603221    0.349927
std    6.206440e+05         2.820761  ...    1.732674    0.477296
min    6.337500e+04         1.000000  ...    1.000000    0.000000
25%    8.776170e+05         2.000000  ...    1.000000    0.000000
50%    1.171795e+06         4.000000  ...    1.000000    0.000000
75%    1.238705e+06         6.000000  ...    1.000000    1.000000
max    1.345435e+07        10.000000  ...   10.000000    1.000000

[8 rows x 11 columns]

특성 나누기

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = data[data.columns[1:10]]
y= data[data.columns[10:]]

In [19]:
print(X.shape)
print(y.shape)

(683, 9)
(683, 1)

train test 나누기

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, stratify=y)

In [21]:
print(y_train.mean())
print(y_test.mean())

Class    0.349609
dtype: float64
Class    0.350877
dtype: float64

정규화

In [22]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [10]:
mms= MinMaxScaler()
mms.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [23]:
X_scaled_minmax_train = mms.transform(X_train)
X_scaled_minmax_test = mms.transform(X_test)

In [26]:
pd.DataFrame(X_scaled_minmax_train).describe()

                0           1           2  ...           6           7           8
count  512.000000  512.000000  512.000000  ...  512.000000  512.000000  512.000000
mean     0.372830    0.231988    0.242839  ...    0.269314    0.199002    0.067491
std      0.317836    0.334781    0.332112  ...    0.265289    0.331503    0.190373
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.111111    0.000000    0.000000  ...    0.111111    0.000000    0.000000
50%      0.333333    0.000000    0.000000  ...    0.222222    0.000000    0.000000
75%      0.555556    0.361111    0.444444  ...    0.444444    0.222222    0.000000
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 9 columns]

In [27]:
pd.DataFrame(X_scaled_minmax_test).describe()

                0           1           2  ...           6           7           8
count  171.000000  171.000000  171.000000  ...  171.000000  171.000000  171.000000
mean     0.411306    0.259909    0.256010  ...    0.278752    0.233918    0.065627
std      0.298847    0.357544    0.332700  ...    0.292578    0.360958    0.199372
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.222222    0.000000    0.000000  ...    0.000000    0.000000    0.000000
50%      0.444444    0.000000    0.111111  ...    0.222222    0.000000    0.000000
75%      0.555556    0.444444    0.444444  ...    0.444444    0.388889    0.000000
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 9 columns]

모델 학습 로지스틱 리스레션

In [28]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_scaled_minmax_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
pred_train = model.predict(X_scaled_minmax_train)
pred_test = model.predict(X_scaled_minmax_test)

In [30]:
print(model.score(X_scaled_minmax_train, y_train))
print(model.score(X_scaled_minmax_test, y_test))

0.97265625
0.9590643274853801

모델평가

In [31]:
from sklearn.metrics import confusion_matrix

In [33]:
cm = confusion_matrix(y_test,pred_test )

In [34]:
print(cm)

[[106   5]
 [  2  58]]

In [35]:
from sklearn.metrics import classification_report

In [39]:
cr = classification_report(y_test,pred_test)
print(cr)

              precision    recall  f1-score   support

           0       0.98      0.95      0.97       111
           1       0.92      0.97      0.94        60

    accuracy                           0.96       171
   macro avg       0.95      0.96      0.96       171
weighted avg       0.96      0.96      0.96       171

예측값 병합 및 저장

# 맛보기 2 회귀문제